[submodule "datas/locomo"]
	path = datas/locomo
	url = https://github.com/snap-research/locomo.git
[submodule "datas/SyllabusQA"]
	path = datas/SyllabusQA
	url = https://github.com/umass-ml4ed/SyllabusQA.git
[submodule "datas/financebench"]
	path = datas/financebench
	url = https://github.com/patronus-ai/financebench.git
[submodule "datas/natural-questions"]
	path = datas/natural-questions
	url = https://github.com/google-research-datasets/natural-questions.git
[submodule "datas/qasper"]
	path = datas/qasper
	url = https://huggingface.co/datasets/allenai/qasper
[submodule "datas/hotpot_qa"]
	path = datas/hotpot_qa
	url = https://huggingface.co/datasets/hotpotqa/hotpot_qa
