[submodule "datas/locomo"]
	path = datas/locomo
	url = https://github.com/snap-research/locomo.git
[submodule "datas/SyllabusQA"]
	path = datas/SyllabusQA
	url = https://github.com/umass-ml4ed/SyllabusQA.git
[submodule "datas/financebench"]
	path = datas/financebench
	url = https://github.com/patronus-ai/financebench.git
[submodule "datas/hotpot"]
	path = datas/hotpot
	url = https://github.com/hotpotqa/hotpot.git
